#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.listings-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Adjust alignment */
  gap: 120px 40px; /* Increase the vertical gap between rows to 40px */
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  flex: 0 0 calc(30%-20px);
  padding: 1.7em;
  will-change: filter;
  transition: filter 300ms;
  background-color: #F7941D;
  border-radius: 15px;
  margin-bottom: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
  margin: left 10px;
  text-align: center;
}

.card:hover {
  filter: drop-shadow(0 0 2em #EE4135);
  transform: translateY(-5px);
}

.header {
  padding: 20px;
  text-align: center;
  margin-bottom: 30px; /* Adjust margin to position it further up */
}

.header-text {
  margin: 0;
  font-size: 32px;
  text-transform: uppercase;
  /* Additional styles as needed */
}

.search-bar {
  padding: 10px;
  border-radius: 10px;
  background-color: #EC018B;
  margin-top: 40px;
  display: inline-block;
}

.search-bar input {
  padding: 8px;
  border-radius: 5px;
  border: none;
  width: 300px; /* Adjust width as needed */
  outline: none;
}

.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  justify-content: center; /* Center cards within a row */
  margin-bottom: 20px;
}