/* styles.css */
.container {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f8f8f8;
  }
  
  .contact-info {
    margin-top: 20px;
  }
  
  .width-100{
    width: 100% !important;
  }

  .spacer{
    height: 30px;
  }

  .font-18{
    font-size: 18.5px !important;
}

.font-21{
    font-size:21.5px !important;
    display: flex !important;
    align-items: start !important;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: bold;
}

.font-28{
    font-size: 28.5px !important;
    font-weight: bold !important;
} 