:root {
    --gradient-color1: #EC018B;
    --gradient-color2: #EE4135;
    --gradient-color3: #F7941D;
    --gradient-color4: #FBB040;
  
    --back-color: #F7941D;
    --input-color: #000000;
    --input-border: #00000050;
    --input-background: #ffffffee;
    --input-placeholder: #000000;
  
    --input-border-focus: #EC018B;
  
    --group-color: var(--input-color);
    --group-border: var(--input-border);
    --group-background: #EEF4FF;
  
    --group-color-focus: #fff;
    --group-border-focus: var(--input-border-focus);
    --group-background-focus: #EC018B;
  
  }

.text-search {
    font-size: 16px !important;
    font-weight: 300 !important;
    color: var(--input-border) !important;
    line-height: 1.625 !important;

    background-color: #fff !important;
    background-image: url(//addsearch.com/logo/AAAAAA-20.png ) !important;
    background-repeat: no-repeat;
    background-position: 95% 50%;

    border: 1px solid #eee !important;
    border-radius: 4px !important;
    width: 100% !important;
    padding: 15px !important;
    cursor: auto !important;
}

#root {
    height: 100% !important;
}

.font-arial{
    /* font-family: 'Open Sans', sans-serif !important; */
}

.search-bar-input{
    font-size: 21px !important;
    font-weight: normal;
}

.text-orange{
    color: var(--gradient-color2);
}

.text-white{
    color: #eee !important;
}

.text-pink{
    color: var(--gradient-color1) !important;
}

.search-bar{
    background-color: #eeeeeeff !important;
}

.font-18{
    font-size: 18.5px !important;
}

.font-21{
    font-size:21.5px !important;
    display: flex !important;
    align-items: start !important;
    /* font-family: 'Open Sans', sans-serif !important; */
    font-weight: bold;
}

.font-28{
    font-size: 28.5px !important;
    font-weight: bold !important;
} 

.card {
    background-color: #eeeeeeff !important;
}

.ant-card-body{
    background-color: #eeeeeeff !important;
}

/* IMPORTANT NU MODIFICA */

body{
    width: auto;
    height: 100% !important;
  }